
<div class="login-form">
  <p id="alert"></p>
  <h1 class="title">LOG IN</h1>
  <%= link_to image_tag('continue_with_facebook.png', class: "responsive-img"), "/auth/facebook", id: "sign_in" %>
  <%= form_tag sessions_path, method: :post do %>
  <div class="input-field field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="field input-field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <button class="btn login-session" id="login-button" type="submit" name="action">LOG IN</button>
</div>



<% end %>
