<% if @access == "Forbidden" %>

  <div class="pink lighten-2 blocked-message">
    <h1>Sorry, you have been blocked from viewing this playlist.</h1>
    <div><%= image_tag(("emoji.png"), :class => "emoji") %></div>
  </div>

<% else %>

  <div>
  <div class="playlist-details">
    <div class="playlist-details-title">
  <div class="playlist-name">&nbsp<%= @playlist_q.name %>&nbsp</div>
  <div class="playlist-host">&nbsp Hosted By: <span class="playlist-host-username"><%= "#{@host.first_name} #{@host.last_name}" %></span></div><br>
  <div class="playlist-code center-align">&nbsp Invite Code:<span class="playlist-code-numbers"> <%=@playlist_q.access_code%></span></div> <% if @access == "Host" || @access == "Guest" %>
  </div>
  <div class="playlist-more"><i class="material-icons icon-more-horiz dropdown-button" data-activates='dropdown1' data-beloworigin="true" data-constrainWidth="false" data-inDuration="0" data-outDuration="0">more_horiz</i></div>
  <% if @access == "Host" %>
  <div class="playlist-extras" style="display: none">
    <span class="guestlist-playlist"><a class="guestlist_button" href='#modal1'>See Guest List</a></span>
    <span class="make_public_wrapper">All Access<a id="make-public" class="toggle_button <%= if @playlist_q.public; 'active' end%>">
      <i class="fa fa-check"></i>
    </a></span>
  </div>
<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content playlist-more-menu'>
  <li><a class="guestlist_button" href='#modal1'>See Guest List</a></li>
  <li><a <%= if @playlist_q.public; 'active' end%>">Make Public</a></li>
</ul>
</div>
 <% elsif @access == "Guest" %>
<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content playlist-more-menu'>
 <li><a class="playlist_create_button" href="/playlists/new">Create Playlist</a></li>
</ul>
</div>
<% end %>

  </div>

<div id="d_player"></div>
<div id="dz-root"></div>
<%=  %>

  <script type="text/javascript">
  <%= render :partial => "dz.js" %>
  </script>

  <% if @access == "Host" %>
    <script type="text/javascript">
      <%= render :partial => "player.js" %>
    </script>
  <% end %>

  <link rel="stylesheet" media="all" href="cssbasic.css" />
<link rel="stylesheet" media="(min-width: 500px)" href="csswide.css" />

  <script type="text/javascript">
    <%= render :partial => "nextsong.js" %>
  </script>
  <% if @access == "Host" %>

  <div class="search">
    <div class="search__inner">
      <input  id="search" type="text" class="search__input" name="search" placeholder="Add songs">
      <button id="btn-search" class="btn waves-effect waves-light search-submit">Search</button>
    </div>
  </div>
  <% elsif (@playlist_q.public) && (@access == "Guest" || @access == "Viewer") %>
  <div class="search">
    <div class="search__inner">
      <input  id="search" type="text" class="search__input" name="search" placeholder="Add songs">
      <button id="btn-search" class="btn waves-effect waves-light search-submit">Search</button>
    </div>
  </div>
  <% else %>
  <div class="search hidden">
    <div class="search__inner">
      <input  id="search" type="text" class="search__input" name="search" placeholder="Add songs">
      <button id="btn-search" class="btn waves-effect waves-light search-submit">Search</button>
    </div>
  </div>
  <% end %>
</div>

<!-- <div class="search">
  <div class="search__inner">
    <input  id="search" type="text" class="search__input" name="search" placeholder="Add songs">
    <button id="btn-search" class="btn waves-effect waves-light search-submit">Search</button>
  </div>
</div> -->

  <div class="search-container hidden">
    <section class="search">


      <!-- <button class="back">Back to playlist</button> -->
      <%# form_tag  playlist_suggestedsongs_path(params[:id]), method: "get" do |f| %>
        <!-- <div class="field"> -->
          <%# text_field_tag :search, nil, placeholder:'Search Music' %>
          <!-- <span class="search-submit"><%= submit_tag "Search" %></span> -->
        <!-- </div> -->
      <%# end %>

      <div id="search_results" class="main-content">
        <!-- <a class="hidden back waves-effect waves-light btn pink darken-1">Back</a> -->
      </div>
    </section>
    </div>


<div class="song-list">
  
</div>

<div class="guest-list-container modal" id="modal1">
  <h3 class='guest-title'>Guest List</h3>

  <!-- <span class="modal-action modal-close waves-effect waves-green btn-flat">X</span> -->
  <ol>
  </ol>
</div>
    <% end %>
  <% end %>
  <!-- <div class="back2top"><button>^^</button></div> -->
  <a id="myBtn" href="#target1"><i class="fa fa-arrow-up" aria-hidden="true"></i> &nbspBack to Top</a>
