<!DOCTYPE html>
<html>
  <head>
    <title>Q</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="main-body" id="target1">


    <nav>
      <div class="nav-wrapper">
        <div class="container">
          <%=link_to image_tag('Q.png', class: "responsive-img"), root_url, class: "brand-logo wow swing" %>
          <a href="#" data-activates="mobile-demo" class="right button-collapse"><i class="material-icons" id="hamburger">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><%= link_to "LOG IN", new_session_url, class: 'purple-text' %></li>
            <li><%= link_to "SIGN UP", new_user_url, class: 'purple-text' %></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><%= link_to "LOG IN", new_session_url, class: 'purple-text' %></li>
            <li><%= link_to "SIGN UP", new_user_url, class: 'purple-text' %></li>
          </ul>
        </div>
      </div>
    </nav>

  <p></p>
      <div class="container">

    <%= yield %>

    </div>

  </body>

</html>
